bin
doc
documentation/help
documentation/manual.aux
documentation/manual.log
documentation/manual.out
documentation/manual.pdf
documentation/manual
html
lib
*.log
*.sci
O.*
testing/lcaTest.m
include
jar
lca*.xml
scilab_en_US_help
master_help.xml
