RELEASE_SITE
bin
doc
documentation/help
documentation/manual.aux
documentation/manual.log
documentation/manual.out
documentation/manual.pdf
documentation/manual
documentation/images.aux
documentation/images.pdf
documentation/gitstring.tex
configure/RELEASE.local
configure/CONFIG.local
html
lib
*.log
*.sci
O.*
testing/lcaTest.m
include
jar
lca*.xml
scilab_en_US_help
master_help.xml
